<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a href="/copyright.html">Rekisteriseloste</a>
  </div>
  <strong>
    Copyright © 2018
    <a href="https://www.ropecon.fi">Ropecon ry</a> / Kalle Kivimaa
  </strong>
</footer>
